::-webkit-scrollbar {
  width: 0px;
}

.message {
  border-radius: 20px;
  padding: 10px;
  margin: 5px;
  color: white;
}

.message-right {
  background: var(--bs-primary);
  border-bottom-right-radius: 0px;
}

.message-left {
  background: var(--bs-dark);
  border-bottom-left-radius: 0px;
}